<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2" >
    <test name="Workflow1">
        <parameter name="deviceName_" value="emulator-5554"></parameter>
        <parameter name="port" value="4723"></parameter>
        <classes>
            <class name="Flow1"></class>
        </classes>
    </test>
    <test name="Workflow2">
        <parameter name="deviceName_" value="emulator-5556"></parameter>
        <parameter name="port" value="8100"></parameter>
        <classes>
            <class name="Flow2"></class>
        </classes>
    </test>

</suite>

